* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 48px;
  background-color: #191f2c;
  font-family: "Inter", sans-serif;
}

.form-title {
  font-size: 49px;
  font-weight: bold;
  color: #E7E7E7;
  margin-bottom: 32px;
}

.form-label {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.form-group {
  margin: 0 0 10px 0;
}

.form-control {
  font-size: 16px;
  padding: 8px 8px;
  width: 570px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.form-control-textarea {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 12px 8px;
  width: 570px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.form-group-button .regist-button{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 570px;
  border-radius: 12px;
  margin: auto 0;
  padding: 24px 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.img-regist {
  width: 100vh;
}

.regist-form-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 72px;
}